{% extends "page-co-home.html" %}

{% block metadata %}
<title>{{ page.title }} - Circle Orange</title>
<meta name="description" content="{{ page.summary|striptags }}"/>
<link rel="canonical" href="http://circleorange.com/contact/" />
{% endblock metadata %}

{% block bodyclass %}page circleorange{% endblock bodyclass %}

{% block headline %}
<a href="http://ajy.co/contact-me/" class="header-cta">Start your project</a>
<h4 class="site-title">
  <a href="http://circleorange.com" class="logo">
    <img src="{{ SITEURL}}/theme/graphics/logo-co.svg" alt="Circle Orange" />
    Circle Orange
  </a>
</h4>
{% endblock headline %}

{% block featured %}
<header>
  <h1>{{ page.title }}</h1>
  {% if page.featimg %}
  <aside class="featuredimage">
    <img src="{{ SITEURL }}/images/featured/large/{{ page.featimg }}" alt="{{ page.title }}" />
  </aside>
  {% endif %}
</header>
{% endblock featured %}

{% block content %}
<section>
  <div>
  {{ page.content }}
    <form id="contactform" action= "">
      <div>
        <label for="thename">Your Name</label><input id="thename" name="thename" type="text" />
      </div>
      <div>
        <label for="theemail">Your Email Address</label><input id="theemail" name="theemail" type="email" />
      </div>
      <div>
        <label for="thephone">Your Phone Number</label><input name="thephone" id="thephone" type="tel" />
      </div>
      <div>
        <label for="thewebsite">Your Website</label><input name="thewebsite" id="thewebsite" type="url" />
      </div>
      <div>
        <label for="themessage">Message</label>
        <textarea id="themessage" name="themessage"></textarea>
      </div>
      <input class="url" id="url" name="url" />
      <input type="hidden" id="fromform" name="fromform" value="yes" />
      <input type="submit" name="submit" id="submit-form" value="Send the message!" />
    </form>
  </div>
</section>
{% endblock content %}

